#sidebar {
	position: fixed;
	left: 2px;
	width: 200px;
	top: 77px;
	bottom: 55px;
	background: #047baaee;
	border-radius: 20px;
	font-family: Georgia, serif;
}

#header {
	width: 100%;
	height: 72px;
	position: fixed;
	top: 2px;
	background: #047baaee;
	bottom: 2px;
	left: 0px;
}

#h2 {
	width: 100%;
	height: 35px;
	position: fixed;
	top: 20px;
	background: rgb(235, 202, 154);
}

#content {
	margin: 0px 0px 0px 220px;
	position: fixed;
	bottom: 32px;
	top: 64px;
}

.lcup {
	position: fixed;
	left: 215px;
	width: 100%;
	top: 77px;
	bottom: 55px;
	background-image: url("images/lcup.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #777373;
	border-radius: 15px;
}

#box {
	position: fixed;
	left: 235px;
	width: 230px;
	top: 100px;
	bottom: 80px;
	background: #8ad5f3ee;
	border-radius: 15px;
	border: 1px solid;
	padding: 10px;
	box-shadow: 10px 13px;
	display: none;
}

#box2 {
	position: fixed;
	left: 500px;
	width: 230px;
	top: 100px;
	bottom: 80px;
	background: rgb(240, 219, 188);
	border-radius: 15px;
	border: 1px solid;
	padding: 10px;
	box-shadow: 10px 13px;
	display: none;
}

#for {
	position: fixed;
	width: 200px;
	height: 72px;
	top: 125px;
	left: 250px;
	color: rgb(7, 10, 14);
	font-size: 17px;
}

#cert {
	position: fixed;
	width: 200px;
	height: 72px;
	top: 125px;
	left: 250px;
	color: rgb(7, 10, 14);
	font-size: 17px;
}

input[type=checkbox] {
	margin: 10px;
	box-sizing: border-box;
}

input[type=file] {
	margin: 10px;
	box-sizing: border-box;
}

input[type=submit] {
	padding: 5px 5px;
	text-align: center;
	margin-left: 10px;
}

#dip {
	display: none;
}

#footer {
	width: 100%;
	background-color: #047baaee;
	height: 50px;
	position: fixed;
	bottom: 2px;
	left: 0px;
}

#footer > p {
	margin: 12px; color: rgb(199, 225, 243);
	font: bold 12px arial;
}

.add {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

#add {
	position: fixed;
	left: 50px;
}

.email {
	position: fixed;
	right: 200px;
	bottom: 26px;
}

#email {
	position: fixed;
	right: 60px;
	bottom: 18px;
}

.tel {
	position: fixed;
	right: 200px;
	bottom: 3px;
}

#tel {
	position: fixed;
	right: 20px;
	bottom: 0px;
}

#cpyrght {
	text-align: center;
}

a.button {
	background:#e4f7ee;
	border-radius: 15px;
	color: rgb(10, 8, 8);
	padding: 7px 7px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 10px 10px;
	font-size: 15px;
}

a.button:hover {
	background: rgb(235, 202, 154);
	color: rgb(6, 8, 8);
}

a.button:active {
	background: rgb(235, 202, 154);
}

body {
	background: rgb(201, 227, 252);
}
